@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary: #020948;
    --secondary: #75e6ff;
    --tertiary: #e8e9ff;
    --accent: #fb6b1a;
    --dark: #333;
    --light: #fff;
    --foreground: #f6f6f6;


    --padding: 80px;
}

h1,p,h2,h3,h4 {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.text-white {
    color: var(--light);
}
.text-dark {
    color: var(--dark);
}
.text-slate {
    color: var(--tertiary);
}

body {
    margin: 0px;
    padding: 0px;
}

main, header, footer {
    max-width: 1600px;
}

section.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: var(--padding);
}

.welcome {
    background-color: var(--primary);
}

.w-50 {
    width: 50%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 20px;
}

.box-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-center-row img {
    width: 80%;
    height: fit-content;
}
.hoverSmall {
    cursor: pointer;
    transition: 500ms ease-in-out;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
}
.hoverSmall:hover {
    transform: scale(98%);
    -webkit-transform: scale(98%);
    -moz-transform: scale(98%);
    -ms-transform: scale(98%);
    -o-transform: scale(98%);
}
#about {
    background-color: var(--foreground);
}

#about .aboutDesc {
    text-align: start;
}
section.container#about {
    justify-content: start;
    flex-direction: column;
  
}


section#certified {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding);
}
.headingSection {
    font-size: 2rem;
    color: var(--dark);
}

.text-large {
    font-size: 3rem;
}

.text-medium {
    font-size: 1.5rem;
}

.text-small {
    font-size: 1.2rem;
}

.font-bold {
    font-weight: bold;
}


.btn {
    padding: 20px 40px;
    width: fit-content;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.btn-primary {
    background-color: var(--accent);
    border: 2px solid var(--accent);
    color: var(--light);
}

.cardExperience {
    background-color: var(--light);
    border: 2px solid var(--tertiary);
    display: flex;
    gap: 10px;
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.textExperience{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: start;
}

.dateExperience {
text-align: start;
font-size: small;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.cardExperience svg {
    width: 40px;
    height: 40px;
}

div.iconTech {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

div.iconTech img {
    width: fit-content;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

div.iconTech.welcome {
    margin-top: 40px;
    margin-bottom: 40px;
}

div.iconTech.welcome img {
    width: fit-content;
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.cardCertified {
    background-color: var(--foreground);
    display: grid;
    grid-template-columns: 2fr 8fr;
    max-width: 400px;
    padding: 20px;
    gap: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}


.cardCertified img{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.cardCertified:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    scale: 102%;
    cursor: pointer;
}

.detailCertified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}
.detailCertified div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detailCertified a {
    text-align: end;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    color: var(--accent);
}
.detailCertified a:visited {
    color: var(--primary);
}

@media screen and (max-width: 1024px) {
   :root {
       --padding: 80px 60px;
   }

   section.container {
    gap: 40px;
   }
   
   div.iconTech.welcome img {
    height: 40px;
   
}


div.iconTech img {
    height: 25px;
}
   .text-large {
    font-size: 2.5rem;
}

.text-medium {
    font-size: 1.2rem;
}

.text-small {
    font-size: 1rem;
}

.cardCertified {
    max-width: 380px;
}
}


@media screen and (max-width: 768px) {
    :root {
        --padding: 40px;
    }
    .text-large {
        font-size: 1.8rem;
    }
    .w-50 {
        width: 80%;
    }

    section#about.container {
        gap: 0px;
       }
    
    .text-medium {
        font-size: 1rem;
    }
    
    .text-small {
        font-size: 0.8rem;
    }

    .btn {
        padding: 15px 30px;
    }

    .headingSection {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .cardCertified {
        max-width: 300px;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --padding: 80px 20px;
    }

    .cardExperience {
        padding: 20px;
       flex-direction: column;
    }
    .w-50 {
        width: 100%;
    }
    
    .cardExperience .textExperience p:nth-child(1) {
        font-size: medium;
        text-align: start;
    }

    .cardExperience .textExperience p:nth-child(2){
        text-align: start;
    }
    .cardExperience .textExperience {
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        text-align: start;
    }
   
    

    section.container {
        display: flex;
        flex-direction: column-reverse;
    }

    .text-large {
        font-size: 1.5rem;
    }
    
    .text-medium {
        font-size: 1rem;
    }
    
    .text-small {
        font-size: 0.8rem;
    }

    .btn {
        padding: 15px 30px;
    }

    .btn {
        width: 100%;
    }

    section.container p, section.container h1 {
        text-align: center;
    }
    .headingSection {
        font-size: 1.2rem;
    }

    .cardCertified {
        max-width: 440px;
    }
}